*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(34, 34, 39);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 30%;
    padding: 2em;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 1em;
}
.content h2{
    margin-bottom: 1em;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    outline: none;
    background-color: transparent;
    color: white;
    padding: 6px;
    margin-bottom: 1em;
    font-size: 1.1em;
    border: 2px solid gray;
    border-radius: 0.5em;
}
form label{
    color: gray;
}
select{
    outline: none;
    background-color: transparent;
    color: white;
    padding: 6px;
    margin-bottom: 1em;
    border: 2px solid gray;
    border-radius: 0.5em;
}
option{
    background-color: rgb(180, 180, 180);
    color: black;
    padding: 6px;
}
.buttons{
    display: flex;
    gap: 2em;
}
.buttons button{
    background-color: rgb(79, 79, 217);
    color: white;
    padding: 0.6em 1em;
    border: 2px solid gray;
    border-radius: 0.5em;
    font-weight: 600;
}
.buttons p{
    padding: 0.3em 0.8em;
    border: 2px solid gray;
    border-radius: 0.5em;
    background-color: rgb(101, 101, 101);
    color: white;
    font-weight: 600;
}
.buttons button:hover{
    cursor: pointer;
    background-color: rgb(9, 9, 215);
}
.buttons p:hover{
    cursor: pointer;
    background-color: rgb(67, 67, 67);
}
@media(max-width: 480px){
    .content{
        width: 100%;
        border: none;
    }
}
@media(max-width: 768px){
    .content{
        width: 70%;
    }
}